<main class="container">
  <app-header></app-header>
  <div class="row">
    <div class="col-6 center">
      <h3>Fall 1</h3>
      <drag-drop-list
        (itemDrop)="onListDrop($event)"
        (startDrag)="onDragStart($event)"
        [items]="semesters['fall1']"
        title="fall1"
      ></drag-drop-list>
    </div>
    <div class="col-6 center">
      <h3>Spring 1</h3>
      <drag-drop-list
        (itemDrop)="onListDrop($event)"
        (startDrag)="onDragStart($event)"
        [items]="semesters['spring1']"
        title="spring1"
      ></drag-drop-list>
    </div>
  </div>
</main>
<router-outlet />
